body{
    background-color: rgb(245, 255, 233);
}
.body{
    width: 1024px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 100%;
    height: 120px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: teal;
}
.headText{
    width: 100%;
    height: 100%;
    line-height: 120px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: red;
}
.grid{
    display: grid;
    height: 100px;
    width: 100%;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr;
    grid-template-rows: [row1] 1fr;
}
button{
    background-color: oldlace;
    border-radius: 15px;
}
button:hover{
    background-color: peachpuff;
}
.active{
    background-color: sandybrown;
}

#clear_pos
{
  position: relative;
  left: 100px;
}

#decimal_numbers
{
    display: inline-block;
    width: 112px;

    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-align: center;
}

#binary_numbers
{
    display: inline-block;
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
 
    margin-left: 1px;
    text-align: center;
}

#octal_numbers
{
    display: inline-block;
    width: 84px;

    margin-left: 11px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#hex_numbers
{
    display: inline-block;
    width: 143px;

    margin-left: 11px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.number_titles
{
    float: left;
    padding-left: 30px;
    padding-right: 30px;

    margin-right: 15px;
}

.number_display
{
    font-size: 23px;
}

.button_pos
{
    float: left;
}

#number_container
{

    margin-top: 39px;
    height: fit-content;
    width: 567px;
    margin-left: 107px;
}

.content{
    display: none;
    background-color: rgb(245,255,225);
    height: fit-content;
}
.mathbox{
    display:none;
    width: 100%;
    height: 500px;

}
.contentBox{
    width: 100%;
    height: 580px;
}
.tab{
    display: flex;
    height: 50px;
    width: 1024px;
}
.tab button{
    margin: auto;
}
.textInDisplay{
    height: 150px;
    width: 100%;
    text-align: center;
    font-size: 23px;
}
.combiIn{
    width: 100%;
    margin:15px auto;
    text-align: center;
}
.outPut{
    width: 100%;
    text-align: center;
    font-size: 20;
}
.bar{
    height: 15px;
}
.barText{
    height: 15px;
    line-height: 15px;
    text-align: center;
}
.rngButtons{
    margin:0 auto;
    height: 65px;
    width: 360px;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr;
}
.rngText{
    height: 21px;
    line-height: 21px;
    text-align: left;
}
.gridlayout{
    width: 1024px;
    height: fit-content;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1 fr;
    grid-template-rows: [row1] 1fr [row2] 1fr;
}
.gridtruth{
    width: 100%;
    display: grid;
    grid-template-rows: [row1] 1fr [row2] 3fr;
}
.truthHead{
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 65px;
    display: grid;
    grid-template-rows: [row1] 21px [row2] 21px [row3] 21px;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
}
.truthbody{
    display: grid;
    margin: auto auto;
    text-align: center;
    width: 28%;
    height: 100%;
    grid-template-columns: [col1]1fr [col2] 1fr [col3] 1fr;
}
.cell{
    border: 1px solid black;
    padding-top: 10px;
}
#drawhere{
    height: auto;
    width: fit-content;
    margin: 0 auto;
}
#canvas{
    border: 1px solid black;
    transform: rotateX(180deg);
}
#probtable{
    display: grid;
    grid-template-columns: [col1] 30px [col2] 90px;
}
.convertstyle{
    width: 250px;
    height: auto;
    margin: auto auto;
}
.poistop{
    display: grid;
    grid-template-columns: [col1] 250px [col2]200px;
    grid-template-rows: [row1]1fr[row2]1fr [row3]1fr;
    text-align: right;
    position: relative;
    left: 235px;
}
.convergrid{
    display: grid;
    grid-template-columns: [col1]500px [col2]500px;
    grid-template-rows: [row1] 250px [row2]250px;
    margin: auto auto;
    text-align: center;
    font-size: 18px;
}