body{
    background-color: rgb(245, 255, 233);
}
.body{
    width: 1024px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.header{
    width: 100%;
    height: 120px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: teal;
}
.headText{
    width: 100%;
    height: 100%;
    line-height: 120px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: red;
}
.grid{
    display: grid;
    height: 100px;
    width: 100%;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr;
    grid-template-rows: [row1] 1fr;
}
button{
    background-color: oldlace;
    border-radius: 15px;
}
button:hover{
    background-color: peachpuff;
    border: 5px solid royalblue;
}
.active{
    background-color: sandybrown;
}

#clear_pos
{
  position: relative;
  left: 100px;
}

#decimal_numbers
{
    height: 100px;
    width: 20px;
    position: relative;
    left: 30px;
}


.content{
    display: none;
    width: 100%;
    height: 580px;
    border: 1px solid red;
}
.mathbox{
    display:none;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}
.tab{
    display: flex;
    height: 50px;
    width: 1024px;
    border: 1px solid black;
}
.tab button{
    margin: auto;
}
.textInDisplay{
    height: 150px;
    width: 100%;
    text-align: center;
    font-size: 23px;
}
.combiIn{
    width: 100%;
    margin:15px auto;
    text-align: center;
}
.fancybutton{
    background: crimson;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: crosshair;
    line-height: 50px;
    text-align: center;
}
.outPut{
    width: 100%;
    text-align: center;
    font-size: 20;
}
.bar{
    height: 15px;
    border: 1px solid black;
}
.barText{
    height: 15px;
    line-height: 15px;
    text-align: center;
}
